
body {
	/* padding-top: 60px; 60px to make the container go all the way to the bottom of the topbar 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.padding-top {
	padding-top: 60px;
}

.nice-text {
	font-size: 1.3em; 
	line-height: 1.5; 
	margin: 1em 0;
}

.small-text {
	font-size: 1.0em; 
	line-height: 0.1; 
	margin: 1em 0;
}

.red {
	color: red;
}

/*
#site_location {
	height:75px;
}

#site_notes {
	height:75px;
}
*/