body {
	/* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.btn {
	margin-bottom: 3px;
}

.padding-top {
	padding-top: 60px;
}

.nice-text {
	font-size: 1.3em; 
	line-height: 1.5; 
	margin: 1em 0;
}

.small-text {
	font-size: 1.0em; 
	line-height: 0.1; 
	margin: 1em 0;
}

.red {
	color: red;
}

#upload_target {
	display: none;
	width:0;
	height:0;
	border:1px solid red;
}

#upload_error {
	color: red;
}